/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}

/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #333333;	
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

body {
	background: #ffffff;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
	margin: 0.6em 0;
}
h1 {
	font-size: 36px;
	font-size: 3.6rem;
}
h2 {
	font-size: 28px;
	font-size: 2.8rem;
}
h3 {
	font-size: 22px;
	font-size: 2.2rem;
}
h4 {
	font-size: 16px;
	font-size: 1.6rem;
}
h5 {
	font-size: 14px;
	font-size: 1.4rem;
}
h6 {
	font-size: 12px;
	font-size: 1.2rem;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	font-style: italic;
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #dfd6c7;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
	*overflow: visible;  /* Corrects inner spacing displayed oddly in IE6/7 */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	color: rgba(0,0,0,.8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.4rem;
	line-height: 1;
	padding: 1.12em 1.5em 1em;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type=text],
input[type=email],
textarea {
	background: rgba( 255, 255, 255, 0.3 );
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 6px;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
	background: #fff;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Links */
a,
a:visited {
	color: #748a81;
	text-decoration: none;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
}
a:hover,
a:focus,
a:active {
	color: #33605a;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 1.5em auto;
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.site-title,
.entry-title,
.page-title,
.widget-title,
.entry-content,
.entry-summary,
.comments-title,
.comment .reply,
.comment-meta,
.comment-author,
#reply-title {
	font-family: Georgia, 'Times New Roman', serif;
}

/* =Structure
----------------------------------------------- */

#main,
.pre-header,
.header
 {
    margin: 0 auto;
	width: 1024px;
	overflow: hidden;
}
#main {
	clear: both;
    overflow: hidden;
}

#top-content {
	float: left;
	margin:0;
	padding:0;
	width: 102.4rem;
	margin-top: 2rem;
}

#primary {
	float: left;
	margin: 0;
	padding: 0;
	width: 70rem;
}
.site-content {
	width:68rem;
	margin: 0 27% 0 0;
	float: left;
	margin: 0;
	padding: 0;
	width: 70rem;
	margin-top: 2rem;
}
#secondary {
	background: #ffffff;
   	float: right;
   	margin: 0 0;
    position: relative;
    width: 30rem;
    margin-top: 2rem;
}

.site-footer {
	clear: both;
	width: 100%;
	height: 5rem;
	padding-top: 5rem;
	text-align: center;
	font-size: 1.2rem;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 2%, #d9dadb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#ffffff), color-stop(100%,#d9dadb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 2%,#d9dadb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 2%,#d9dadb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 2%,#d9dadb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 2%,#d9dadb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9dadb',GradientType=0 ); /* IE6-9 */
}

.site-footer a {color:#333333;}
.site-footer a:hover {color:#148ac3;}


/* =Site Header
----------------------------------------------- */

.pre-header {
	font-size:1.0rem;
	background-color:#333333;
	height:2rem;
	padding-top: 0.5rem; 
	color:#ffffff;
}

.pre-header .fecha, .pre-header .tiempo {float:left; display: block;}
.pre-header .fecha {margin-left: 1rem;}
.pre-header .tiempo {padding-left: 60rem;}
.pre-header .social {float:right; display: block;}

.social a {width:2rem; margin-left: 1rem;}

.site-header  {
	background:#333333;
	height:8.5rem; 
}
.logo {
	width:20rem;
	height:5.5rem;
	padding-top: 0.5rem; 
	display: block;
	float:left;
	color: #ffffff;
}

/* =Menu
----------------------------------------------- */

.main-navigation {
    display: block;
    float:right;
}
.main-navigation:after {
	content: "";
	display: block;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	margin: 1.1em 0;
	position: relative;
}
.main-navigation a {
	color: #ffffff;
    display: block;
    font-size: 1.4rem;
    margin-left:1.2em; 
    text-decoration: none;
}
.main-navigation ul ul {
	background: #e9e0d1;
	border: 1px solid rgba( 0, 0, 0, 0.1 );
	display: none;
	float: left;
	position: absolute;
		top: 1.2em;
		left: 0;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	padding: 0 1.5em;
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a,
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a,
.main-navigation ul ul a:hover {
	color: #148ac3;
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul li:hover > ul {
	display: block;
}

/* Small menu */
.menu-toggle {
	color: #7c948a;
   	cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.main-small-navigation .menu {
	display: none;
}

/* =Último momento
----------------------------------------------- */

.ultimo-momento {
	display:block;
	color:#148ac3;
	font-size: 1.6rem;
	height: 2.1rem;
	overflow: hidden;
}


/* =Portada
----------------------------------------------- */

/* Destacadas*/

.destacadas {
	float: left;
	width:32rem;
	margin-left: 2.13rem;
	height:30.6rem;
	overflow: hidden; 
}

.destacadas img {
	width:32rem;
	height:24rem;
	float: left;
	margin-bottom: 0.1rem;
}

.destacadas .pic {
	background-color: #ffffff;
	padding:0;
	margin: 0;
}

.destacadas .entry-title {
	display: block;
	float: left;
	margin:0; 
	padding: 0;
}

.destacadas a {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; 
	color: #ffffff;
	font-size: 2.5rem;
	font-weight: normal;
	width: 30rem;
	height:6.2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.7rem;
	display: block;
	line-height: 2.5rem;
	background-color:#333333;
}

.destacadas a:hover {color: #148ac3;}


/* De tapa con foto */

.detapa {
	float: left;
	width:32rem;
	margin-left: 2.13rem;
	height:28rem;
	overflow: hidden; 
}

.detapa img {
	width:32rem;
	height:28rem;
	float: left;
	margin-bottom: 0.1rem;
	position: relative;
}

.detapa .pic {
	background-color: #ffffff;
	padding:0;
	margin: 0;
}

.detapa .entry-title {
	margin:0; 
	margin-top: 4rem;
	padding: 0;
	position: absolute;
	overflow: hidden;
}

.detapa a {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; 
	color: #ffffff;
	font-size: 1.8rem;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 2rem;
	width: 30rem;
	height:11.7rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.6rem;
	display: block;
	background-color:rgba(77,77,77,0.65); 
}

.detapa a:hover {color: #148ac3; background-color:rgba(255,255,255,0.85);}

.detapa h1 span {
	font-size: 1.2rem;
	display: block;
	line-height: 1.5rem;
	margin-top: 1rem;
}

/* De tapa, pares*/

.pares {width:34.2rem; float:left;margin:0;}


.oddpost, .evenpost {
	float: left;
	width:32.3rem;
	margin-left: 2rem;
	height:12.9rem;
	overflow: hidden;
}

.oddpost {margin-bottom: 1.8rem;}

.oddpost .entry-title, .evenpost .entry-title {
	margin:0; 
	padding: 0;
	position: absolute;
	overflow: hidden;
}

.oddpost a, .evenpost a {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; 
	color: #ffffff;
	font-size: 1.8rem;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 2rem;
	width: 30.1rem;
	height:11rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.6rem;
	padding-bottom: 1.5rem;
	display: block;
	border: 0.1rem solid #AAA380;
}

.oddpost  a {background-color:#333333; color: #ffffff;}

.evenpost a {background-color:#ffffff; color: #333333; }

.oddpost a:hover, .evenpost a:hover {color: #148ac3;}

.oddpost h1 span, .evenpost h1 span {
	font-size: 1.2rem;
	display: block;
	line-height: 1.5rem;
	margin-top: 1rem;
}

/* =Twitter
----------------------------------------------- */

.widget_twitter-profile-tracker {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
	line-height: normal;
	color: #333333;
}

.widget_twitter-profile-tracker .widget-title {
	display: block;
	height: 4rem;
	padding-top: 1.5rem;
	background: #148AC3 url(img/twitter-widget.png) no-repeat;
	background-position: 5% center;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.8rem;
	color: #ffffff; 
	padding-left: 5rem;
}

.widget_twitter-profile-tracker .tweets {
	list-style-type: none;
	margin: 0 1.5rem;
}

.widget_twitter-profile-tracker .avatar {
	display: none;
}

.widget_twitter-profile-tracker .clearleft {
	margin: 1rem 0;
	background-color: #148AC3;
	height: 0.1rem;
	width: 100%;
	display: block;
}

.widget_twitter-profile-tracker a {
	color: #333333;
	font-weight: bold;
}

.widget_twitter-profile-tracker a:hover {
	color: #148AC3;
}


/* =Banners
----------------------------------------------- */

.banner {
	width: 102.4rem;
	float:left;
	text-align: center;
	margin: 2rem 0 0;

}



